<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<>

<%
const allId = user.map(val => val.id)
const allMail = user.map(val => val.email)

let userMail

allId.forEach((val, index) => {
    if (val === userID) userMail = allMail[index]
})

//userMail is current user.
//user is contains all user data (email and passwords).
//userID is current id.
//you can access name as name surname as surname and body as body and the time of upload as uploadTime.
//and use numberOfBlogs to find out how many blogs there
//and limit as limit .Limit is a query parameter ?lim=2
//you can access current page with currentPage

//console.log(userMail,user,userID,name,surname,body,uploadTime,numberOfBlogs,limit,currentPage)

%>

<body>

<nav style="background-image: radial-gradient( circle farthest-corner at 22.4% 21.7%, rgba(4,189,228,1) 0%, rgba(2,83,185,1) 100.2% );"
     class="navbar fixed-top">

    <div class="container-fluid">
        <a class="navbar-brand" href="/homepage/<%= userID %>/?p=0&lim=15">Slached's Blog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Welcome <%= userMail %></h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                           href="/homepage/<%= userID %>/?p=0&lim=15">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/homepage/add_blog/<%= userID %>">Add Blog</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Account
                        </a>

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/register">Create New Account</a></li>

                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li><a style="color: red" class="dropdown-item" href="/login">Sign out</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="m-5"></div>

<div class="mb-2">
    <% if (name.length !== 0 || surname.length !== 0 || body.length !== 0 ) { %>

        <% for (let i = 0 ; i < name.length ; i++){ %>

            <%
                let lastString = name[i] + " " + surname[i]
                let dateObj = new Date(uploadTime[i])

                var month = dateObj.getUTCMonth() + 1; //months from 1-12
                var day = dateObj.getUTCDate();
                var year = dateObj.getUTCFullYear();

                var hr = dateObj.getHours();
                var mn = dateObj.getMinutes();

                if (mn.toString().length === 1) mn = '0' + mn

                time = year + "/" + month + "/" + day + " " + hr + ":" + mn;
            %>

            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action text-bg-dark" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"><%= lastString %></h5>
                        <small><%= time %></small>
                    </div>
                    <p class="mb-1"><%= body[i] %></p>
                </a>
            </div>

        <% } %>

    <% } %>
</div>


<div class="container text-center mb-2">

    <% if (currentPage > 0){ %>
        <a class="fs-5 text-decoration-none text-dark"
           href="/homepage/<%= userID %>/?p=<%= parseInt(currentPage) - 1 %>&lim=<%= limit %>"><</a>
    <% } %>

    <% for (let i = 0 ; i <= numberOfBlogs / limit; i++){ %>

        <% if(parseInt(currentPage) === i){ %>
            <a class="text-info fs-5 text-decoration-none  p-1"
               href="/homepage/<%= userID %>/?p=<%= i %>&lim=<%= limit %>"><%= i + 1 %></a>
        <% }
        else{ %>
            <a class="text-dark fs-5 text-decoration-none  p-1"
               href="/homepage/<%= userID %>/?p=<%= i %>&lim=<%= limit %>"><%= i + 1 %></a>
        <% } %>
    <% } %>

    <% if (currentPage < Math.floor(numberOfBlogs / limit)){ %>
        <a class="fs-5 text-decoration-none text-dark"
           href="/homepage/<%= userID %>/?p=<%= parseInt(currentPage) + 1 %>&lim=<%= limit %>">></a>
    <% } %>
</div>

</body>
</html>